docs_dir: "../../docs/ru"
site_dir: "../../generated/ru"


# Project information
site_name: Kora
site_url: https://kora-projects.github.io/kora-docs/kora-docs/
site_description: Документация по Kora
copyright: Tinkoff
nav:
  - Примеры:
      - Репозиторий примеров: examples/kora-examples.md
      - Ознакомительный пример: examples/hello-world.md
  - Документация:
      - Основное: documentation/general.md
      - Контейнер: documentation/container.md
      - Конфигурация: documentation/config.md
      - Логирование:
        - SLF4J: documentation/logging-slf4j.md
      - Конвертация:
        - Json: documentation/json.md
        - MapStruct: documentation/mapstruct.md
      - Мониторинг:
        - Пробы: documentation/probes.md
        - Метрики: documentation/metrics.md
        - Трассировка: documentation/tracing.md
      - HTTP:
        - HTTP сервер: documentation/http-server.md
        - HTTP клиент: documentation/http-client.md
        - SOAP клиент: documentation/soap-client.md
        - OpenAPI кодогенерация: documentation/openapi-codegen.md
        - OpenAPI отображение: documentation/openapi-management.md
      - Базы данных:
        - Общее: documentation/database-common.md
        - JDBC: documentation/database-jdbc.md
        - R2DBC: documentation/database-r2dbc.md
        - Vertx: documentation/database-vertx.md
        - Cassandra: documentation/database-cassandra.md
        - Миграции: documentation/database-migration.md
      - Интеграции:
        - Kafka: documentation/kafka.md
        - gRPC сервер: documentation/grpc-server.md
        - gRPC клиент: documentation/grpc-client.md
      - Аспекты:
        - Отказоустойчивость: documentation/resilient.md
        - Кэширование: documentation/cache.md
        - Валидация: documentation/validation.md
        - Планировщик: documentation/scheduling.md
        - Логирование: documentation/logging-aspect.md
      - Тестирование:
          - JUnit5: documentation/junit5.md
      - Дополнительное:
        - GraalVM Native: documentation/graalvm-native.md
  - Журнал изменений: changelog/changelog.md


# Repository
repo_name: Tinkoff/Kora
repo_url: https://github.com/kora-projects/kora
edit_uri: tree/main/mkdocs/docs/ru/


# Configuration
theme:
  name: material
  custom_dir: ../../overrides/
  favicon: assets/img/kora-32.png
  logo: assets/img/kora-big.png
  language: ru
  icon:
    # https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/
    repo: fontawesome/brands/git
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: orange
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: amber
      accent: orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference
  font:
    text: JetBrains Mono
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - search.suggest
    - search.highlight
    - header.autohide
    - toc.follow
    - content.code.copy
    - content.code.annotate   # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/?h=annotations#adding-annotations
    - content.tabs.link


extra_css:
  - assets/css/extra.css         # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#content-area-width


# Structure - https://github.com/squidfunk/mkdocs-material/discussions/2346
extra:
  generator: false
  annotate:
    json: [ .s2 ]   # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/?h=annotations#custom-selectors
  alternate:
    - name: Русский
      link: /kora-docs/ru/
      lang: ru
    - name: English
      link: /kora-docs/en/
      lang: en
  social:
    - icon: fontawesome/brands/medium
      link: https://medium.com/its-tinkoff
      name: "Корпоративный блог на Medium"
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/@IT_i_td
      name: "Корпоративный блог на YouTube"
    - icon: simple/habr
      link: https://habr.com/ru/companies/tinkoff/articles/
      name: "Корпоративный блог на Хабрахабр"
    - icon: fontawesome/brands/github
      link: https://github.com/kora-projects/kora
      name: "GitHub проекта"
    - icon: fontawesome/brands/telegram
      link: https://t.me/kora_users
      name: "Чат проекта в Telegram"



plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
      lang:
        - ru
        - en


# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html              # https://squidfunk.github.io/mkdocs-material/reference/annotations/#tab-1
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.betterem
  - pymdownx.tabbed:        # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/?h=tabbed#tabbed
      alternate_style: true
      separator: "-"
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - toc:
      permalink: true
